<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.example.hello</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>WorkingDirectory</key>
    <string>/Users/fuzzbin/Documents/GitHub_TFK/transkripsjonNB/</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/Caskroom/miniconda/base/envs/lokaltranskripsjon/bin/python</string>
        <string>/Users/fuzzbin/Documents/GitHub_TFK/transkripsjonNB/HuginLokalTranskripsjon.py</string>
    </array>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>StandardOutPath</key>
    <string>/Users/fuzzbin/Documents/GitHub_TFK/transkripsjonNB/hello.stdout</string>
    <key>StandardErrorPath</key>
    <string>/Users/fuzzbin/Documents/GitHub_TFK/transkripsjonNB/hello.stderr</string>
</dict>
</plist>